:root {
  // brand
  --color-twitter: #1da1f2;

  // yellow
  --color-yellow-500: #f2c94c;

  // red
  --color-red-500: #eb5757;

  // black
  --color-black: #000000;

  // white
  --color-white: #ffffff;

  // gray
  --color-gray-100: #fefefe;
  --color-gray-300: #eeeeee;
  --color-gray-500: #cccccc;
  --color-gray-700: #888888;
  --color-gray-900: #333333;
}
